<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.15.1/css/patternfly.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.15.1/css/patternfly-additions.css">
  <style>
  .pf-design-table {
    width: auto;margin: auto;
  }
  .pf-design-table__cell {
    text-align: center;
  }
  .pf-design-table__cell--new {
    /*background-color: #bee1f4;*/
  }
  .pf-design-table__cell--changed {
    /*background-color: #f9d67a;*/
  }
  .pf-design-table__cell--present {
    /*background-color: #c8eb79;*/
  }
  .pf-design-table__cell--missing {
    background-color: #ffe6e6;
  }
  .pf-design-table__icon {
    line-height: 1.66666667;
  }
  .pf-design-table__icon--new {
    color: #f0ab00;
  }
  .pf-design-table__icon--changed {
    color: #00659c;
  }
  .pf-design-table__icon--present {
    color: #8b8d8f;
  }
  .pf-design-table__icon--missing {
    color: #a30000;
  }
  </style>
</head>
<body>
  <table class="table table-striped pf-design-table" >
    <tbody>
      <tr><th colspan="4"><h2>File status indicators</h2></th></tr>
      <tr></tr>
      <tr><td colspan="4">
        <span><span class="fa fa-star pf-design-table__icon pf-design-table__icon--new"></span> Created < week</span><br>
        <span><span class="fa fa-file-text-o pf-design-table__icon pf-design-table__icon--changed"></span> Modified < week</span><br>
        <span><span class="fa fa-file-text-o pf-design-table__icon pf-design-table__icon--present"></span> Present</span><br>
        <span><span class="pficon pficon-close pf-design-table__icon pf-design-table__icon--missing"></span> Missing</span><br>
      </td></tr>
    </tbody>

    {{#each families}}
      <tbody class="pf-design-table__files">
        <tr><th colspan="4"><h2>{{name}}</h2></th></tr>
        <tr><th>Pattern</th><th>overview.md</th><th>design.md</th><th>site.md</th></tr>
        {{#each patterns}}
          <tr>
            <td><a href="https://github.com/patternfly/patternfly-design/tree/master/pattern-library/{{../name}}/{{name}}">{{name}}</a></td>
            {{#eachInMap files }}
              <td class="pf-design-table__cell pf-design-table__cell--{{ value.status }}">
              {{#compare value.status "==" "missing"}}
                <span class="pficon pficon-close pf-design-table__icon pf-design-table__icon--missing"></span>
              {{else}}
                <span class="fa fa-file-text-o pf-design-table__icon pf-design-table__icon--changed"
                      data-created="{{ value.dateCreated }}"
                      data-changed="{{ value.dateChanged }}"
                      title="Last modified on {{ value.dateChangedFormatted }}">
                </span>
              {{/compare}}
              </td>
            {{/eachInMap}}
          </tr>
        {{/each}}
      </tbody>
    {{/each}}
  </table>
  <script defer>
    let nodeList = document.querySelectorAll('.pf-design-table__files .pf-design-table__icon')
    let now = new Date().getTime();
    function getQueryStringValue (key) {
      return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
    }
    for (var i = 0; i < nodeList.length; i++) {
      let icon = nodeList[i];
      let changedDate = new Date(icon.dataset.changed).getTime();
      let createdDate = new Date(icon.dataset.created).getTime();
      let days = getQueryStringValue('days') || 7;
      let changed = now - changedDate < days*24*3600*1000;
      let created = now - createdDate < days*24*3600*1000;
      if (created) {
        icon.classList.remove('fa-file-text-o', 'pf-design-table__icon--present', 'pf-design-table__icon--changed');
        icon.classList.add('fa-star', 'pf-design-table__icon--new');
      } else if (changed) {
        icon.classList.remove('fa-star', 'pf-design-table__icon--present', 'pf-design-table__icon--new');
        icon.classList.add('fa-file-text-o', 'pf-design-table__icon--changed');
      } else {
        icon.classList.remove('fa-star', 'pf-design-table__icon--changed', 'pf-design-table__icon--new');
        icon.classList.add('fa-file-text-o', 'pf-design-table__icon--present');
      }
    }
  </script>
</body>
</html>
